<%- include('header') %>

<form method="GET" action="cotacao">
    <input name="exchangeRate" type="" placeholder="Dollar exchange rate"/> <br/>
    <input name="amount" type="" placeholder="Dollars amount"/> <br/>
    <button> Convert </button>
</form>
<%- include('footer') %>